<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body>
<section layout:fragment="custom-content">
    <h1>Your Orders</h1>
    <div th:if="${orders}">
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.orderId}">Order ID</td>
                <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm')}">Order Date</td>
                <td th:text="${order.totalAmount}">Total Amount</td>
                <td th:text="${order.status}">Status</td>
                <td><a th:href="@{'/order/' + ${order.orderId}}">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${orders == null}">
        <p>You have no orders.</p>
    </div>
</section>
</body>
</html>