<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${pageTitle}">My Website</title>
    <!-- Include CSS, meta tags, etc. -->
</head>
<body>
<header th:fragment="header" class="bg-white fixed top-0 w-full">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 drop-shadow-xl">
        <div class="flex h-16 items-center justify-between">
            <div class="flex-1 md:flex md:items-center md:gap-12">
                <a class="block text-teal-600" href="/">
                    <span class="sr-only">Home</span>
                    <img src="/image/assets/logo.png" width="40">
                </a>
            </div>

            <div class="md:flex md:items-center md:gap-12">
                <nav aria-label="Global" class="hidden md:block">
                    <ul class="flex items-center gap-6 text-sm" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <li sec:authorize="isAuthenticated()">
                            <a
                                    th:href="@{/ordersAdmin}" style="text-decoration: none;"
                                    class="text-gray-500 transition hover:text-gray-500/75"
                            >
                                Order
                            </a>
                        </li>

                        <li>
                            <a
                                    style="text-decoration: none;"
                                    th:href="@{/menu}"
                                    class="text-gray-500 transition hover:text-gray-500/75"
                            >
                                Menu
                            </a>
                        </li>
                    </ul>
                    <ul class="flex items-center gap-6 text-sm" th:if="${#authorization.expression('!hasAuthority(''ADMIN'')')}">
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="/cart" style="text-decoration: none;"> Cart </a>
                        </li>

                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="/orders" style="text-decoration: none;"> Order </a>
                        </li>


                        <!--                        <li>-->
<!--                            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> History </a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Services </a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Projects </a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Blog </a>-->
<!--                        </li>-->
                    </ul>
                </nav>

                <div class="flex items-center gap-4">
                    <div class="sm:flex sm:gap-4">
                        <a
                                class="rounded-md bg-orange-600 px-5 py-2.5 text-sm font-medium text-white shadow"
                                th:href="@{/login}" sec:authorize="isAnonymous()"
                        >
                            Login
                        </a>
<!--                        <a-->
<!--                                class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"-->
<!--                                th:href="@{/editProfile(id=${userId})}" sec:authorize="isAuthenticated()"-->
<!--                        >-->
<!--                            Profile-->
<!--                        </a>-->


                        <div class="nav-item" sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post">
                                <button class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-orange-600"
                                        type="submit">Logout</button>
                            </form>
                        </div>
                        <div class="hidden sm:flex" sec:authorize="isAnonymous()">
                            <a
                                    class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-orange-600"
                                    th:href="@{/register}"
                            >
                                Register
                            </a>
                        </div>
                    </div>

                    <div class="block md:hidden">
                        <button class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    stroke-width="2"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
