<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body>
<section layout:fragment="custom-content">
    <form th:action="@{/menu}" th:object="${menu}" method="post">
        <input type="hidden" th:field="*{menuID}" />
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
    <a th:href="@{/menu}">Back to Menu</a>
</section>
</body>
</html>