<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}">
<head>
    <title>Menu Items</title>
</head>
<body>
<section layout:fragment="custom-content">
    <h1>Menu Item</h1>
    <a th:href="@{/items/new}">
        Create New Menu Item
    </a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Images</th>
            <th>Description</th>
            <th>Price</th>
            <th>Menu</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menuItem : ${menuItems}">
            <td th:text="${menuItem.menuItemID}">1</td>
            <td th:text="${menuItem.name}">MenuItem Name</td>
            <td>
                <div th:if="${menuItem.images != null and !menuItem.images.isEmpty()}">
                    <div th:each="image : ${menuItem.images}">
                        <img th:src="@{${image}}" alt="Menu Item Image" style="max-width: 100px; max-height: 100px;" />
                    </div>
                </div>
            </td>

            <td th:text="${menuItem.description}">Description</td>
            <td th:text="${menuItem.price}">0.00</td>
            <td th:text="${menuItem.menu.name}">Menu Name</td>
            <td>
                <form th:action="@{/cart/add}" method="post">
                    <input type="hidden" th:name="menuItemID" th:value="${menuItem.menuItemID}" />
                    <input type="number" name="quantity" min="1" value="1" />
                    <button type="submit">Add to Cart</button>
                </form>
                <a th:href="@{/items/{id}(id=${menuItem.menuItemID})}">View</a>
                <a th:href="@{/items/edit/{id}(id=${menuItem.menuItemID})}">Edit</a>
                <a th:href="@{/items/delete/{id}(id=${menuItem.menuItemID})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
